files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01a_rsyslog_update.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      CONFIG_FILE=/etc/rsyslog.conf

      # Enable im file
      /bin/sed -i 's/#$ModLoad immark.*/$ModLoad imfile/g' $CONFIG_FILE

      # Restart Rsyslog
      /etc/init.d/rsyslog restart

  "/etc/rsyslog.d/CFN-init.conf":
        mode: "000755"
        owner: "root"
        group: "root"
        content: |
                $InputFileName  /var/log/cfn-init.log
                $InputFileTag CFN-init:
                $InputFileStateFile stat-cfn-init
                $InputRunFileMonitor

  "/etc/rsyslog.d/nodejs.conf":
        mode: "000755"
        owner: "root"
        group: "root"
        content: |
                $InputFileName /var/log/nodejs/nodjs.log
                $InputFileTag Nodejs:
                $InputFileStateFile stat-nodejs
                $InputRunFileMonitor

commands:
  test_command:
    command: "/opt/elasticbeanstalk/hooks/appdeploy/pre/01a_rsyslog_update.sh"
    ignoreErrors: true

  remove_bak:
    command: "rm -f /opt/elasticbeanstalk/hooks/appdeploy/pre/01a_rsyslog_update.sh.bak"
    ignoreErrors: true
