files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01b_graylog":
    mode: "000755"
    owner: root
    group: root
    content: |
     #!/bin/bash
     #Added 8/19/14
     TARGET=/etc/rsyslog.d
     FILE=graylog.conf
     BROKER=@10.111.194.118
     SERVICE=rsyslog
      echo "Updating util-linux . . ."
      yum install -y util-linux
      echo "Listing variables for confirmation . . ."
      echo Target Directory Location: $TARGET
      echo Target File Location: $FILE
      echo Current Log Broker: $BROKER
      if [ -f $TARGET/$FILE ]; then
        echo "Existing Graylog2 configuration detected . . . Wiping it out. . ."
        rm -f $TARGET/$FILE
        echo "Checking $SERVICE status . . ."
       if service rsyslog status; then
        echo "Service running . . . Stopping $SERVICE"
        service $SERVICE stop
        else
        echo "Quitting . . ."
       fi
        echo "# Forward all logs to Graylog2
        # Replace 0.0.0.0 with your own Graylog2 server IP
        *.*                                          $BROKER;RSYSLOG_SyslogProtocol23Format" >> $TARGET/$FILE
        echo "Graylog2 reconfigured . . . Starting $SERVICE . . ."
        echo "Piping logs to $BROKER . . ."
        service $SERVICE start
       exit
        else
        echo "New Graylog2 configuration detected . . ."
        echo "Stopping $SERVICE . . ."
        service $SERVICE stop
        echo "# Forward all logs to Graylog2
        # Replace 0.0.0.0 with your own Graylog2 server IP
        *.*						$BROKER;RSYSLOG_SyslogProtocol23Format" >> $TARGET/$FILE
        echo "New Graylog2 configuration . . . Starting $SERVICE . . ."
        echo "Piping logs to $BROKER . . ."
        service $SERVICE start
        echo "Checking $SERVICE status . . ."
        echo "Graylog2 configured . . . Exiting"
      fi
