option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_HOST
    value: ec2-23-21-222-200.compute-1.amazonaws.com
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_PORT
    value: 27017
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_USER
    value: liana_user
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_PASS
    value: PINCHme123
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_NAME
    value: lianadb_dev
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PORT
    value: 8081
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: production
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: node app.js --prod
